<h1>Срещи</h1>
<table class="table-striped table-borderless">
  <thead>
    <tr>
      <th class="p-2">Противник</th>
      <th class="p-2">Дата</th>
      <th class="p-2">Гостуване</th>
      <th class="p-2">Резултат</th>
      <th class="p-2">Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr class="p-3" game-details [game]='game' *ngFor="let game of games"></tr>
  </tbody>
</table>

<!-- Add admin functionality -->

<div class="mt-2 mb-5">
  <button class="btn btn-sm btn-danger" (click)='deleteGames()'>Изтрий Всички</button>
</div>
