<div class="row">
	<div class="col-sm-4">
		<form (ngSubmit)="onSignIn(f)" #f="ngForm">
			<div class="form-group">
				<label for="email">Имейл</label>
				<input class="form-control form-control-sm" type="email" id="email" name="email" required ngModel>
			</div>
			<div class="form-group">
				<label for="password">Парола</label>
				<input class="form-control form-control-sm" type="password" id="password" name="password" required ngModel>
			</div>
			<button class="btn btn-sm btn-outline-danger" type="submit" [disabled]="!f.valid">Вход</button>
		</form>
	</div>
</div>