<div *ngIf="player">
  <div>
    <label>First Name: </label> {{player.firstName}}
  </div>
  <div>
    <label>Last Name: </label> {{player.lastName}}
  </div>
  <div>
    <label>Active: </label> {{player.active}}
  </div>
 
  <span class="button is-small btn-primary" *ngIf='player.active' (click)='updateActive(false)'>Inactive</span>
 
  <span class="button is-small btn-primary" *ngIf='!player.active' (click)='updateActive(true)'>Active</span>
 
  <span class="button is-small btn-danger" (click)='deletePlayer()'>Delete</span>
 
  <hr/>
</div>
