<td class="p-2" *ngIf="player">{{player.firstName}} {{player.lastName}}</td>
<td class="p-2" >
  <button class="btn btn-sm btn-outline-danger mr-3"
  style="width: 100px" *ngIf='player.active' (click)='updateActive(false)'>Деактивирай</button>
  <button class="btn btn-sm btn-outline-success mr-3"
  style="width: 100px"  *ngIf='!player.active' (click)='updateActive(true)'>Активирай</button>
  <button class="btn btn-sm btn-outline-danger mr-3"
  style="width: 100px"  (click)='deletePlayer()'>Delete</button>
</td>