<h3>Create Player</h3>
<div [hidden]="submitted">
  <form class="form-inline" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName" class="mr-sm-2">First Name</label>
      <input type="text" class="form-control input-sm mr-sm-2" 
      id="firstName" required [(ngModel)]="player.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName" class="mr-sm-2" >Last Name</label>
      <input type="text" class="form-control input-sm mr-sm-2" 
      id="lastName" required [(ngModel)]="player.lastName" name="lastName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPlayer()">Add</button>
</div>