<h3>Създай Играч</h3>

<form class="form-inline" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName" class="mr-sm-2">Име</label>
    <input type="text" class="form-control form-control-sm mr-sm-2" id="firstName" required [(ngModel)]="player.firstName" name="firstName">
  </div>

  <div class="form-group">
    <label for="lastName" class="mr-sm-2">Фамилия</label>
    <input type="text" class=" form-control form-control-sm mr-sm-2" id="lastName" required [(ngModel)]="player.lastName" name="lastName">
  </div>

  <div class="form-group">
    <label for="lastName" class="mr-sm-2">Пост</label>
    <select class="form-control form-control-sm mr-sm-2" id="position" [(ngModel)]="player.position" name="position">
      <option value="Вратар">Вратар</option>
      <option value="Защитник">Защитник</option>
      <option value="Халф">Халф</option>
      <option value="Нападател">Нападател</option>
    </select>
  </div>

  <button type="submit" class="btn btn-sm btn-success">Submit</button>
</form>