<section>
    <h2>Astronomy</h2>
    <div class="spacer">
        <h3>Edit hostory</h3>
        <ul>
            <li>
                <a href="article.html">01:14, 31 May 2018‎</a> by
                <span class="author">ClueBot NG</span>
            </li>
            <li>
                <a href="article.html">19:35, 26 May 2018‎</a> by
                <span class="author">Headbomb</span>
            </li>
            <li>
                <a href="article.html">16:24, 10 May 2018‎</a> by
                <span class="author">PrimeBOT</span>
            </li>
            <li>
                <a href="article.html">13:28, 23 March 2018‎</a> by
                <span class="author">Chiswick Chap</span>
            </li>
        </ul>
    </div>
</section>